---
---

@import "variables";
@import "bootstrap.min";
@import "flexslider";
@import "font-awesome";
@import "one";

.navbar-brand {
	font-weight: 400;
}

.banner {
	background-image: url(../images/banner-bg.jpg);
	min-height: 400px;
}

.banner-info {

	p {
		text-transform: none;
	}
}