---
---

@import "variables";
@import "bootstrap.min";
@import "flexslider";
@import "font-awesome";
@import "one";

p {
	font-weight: 400;
}

small {
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

	small, .small {
		font-weight: 300;
	}
}

table, .table {
	border-bottom: 1px solid #ddd;
}

// .header {

// 	.menu {

// 		li {

// 			a {
// 				font-weight: 300;
// 			}
// 		}
// 	}
// }

.navbar-brand {
	font-weight: 400;
}

.banner {
	background-image: url(../images/banner-bg.jpg);
	min-height: 400px;
}

.banner-info {

	p {
		color: #fff;
		font-weight: 400;
		text-transform: none;
	}
}

h3.m_1 {
	color: #fff;
}

.feature_grid {
	border-right: 1px solid lighten($brand_color, 15);
	border-left: 1px solid lighten($brand_color, 15);
	margin-right: -1px;
	padding: 4em 2em;

	&:first-child {
		border-left: 0;
	}

	&:last-child {
		border-right: 0;
	}

	.fa {
		color: #fff;
	}
}

.gallery {
	background: $light_gray;
	padding-top: 25px;
	padding-bottom: 25px;

	.image_box {
		padding-top: 25px;
		padding-bottom: 25px;

		img {
			max-width: 100%;
		}
	}
}

.highlight-info {
	margin-top: 30px;

	p {
		margin-bottom: 1em;
	}
}

.contact {
	margin-top: 30px;
}

.contact_top {
	margin-bottom: 0;
}

.contact_details {
	min-height: 130px;
}