@charset "UTF-8";
@import "compass";
@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "variables";
@import "flexslider";
@import "font-awesome";
@import "one";

p {
	font-weight: 400;
}

small {
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

	small, .small {
		font-weight: 300;
	}
}

table, .table {
	border-bottom: 1px solid $gray;
}

.header {
	padding-top: 1.25em;
	padding-bottom: 1em;
}

.site-title {
	// overflow: hidden;
	// float: left;
}

.site-logo {
	float: left;
	margin-right: 10px;
}

.site-title-span {
	display: block;
	line-height: 1;
	padding-left: 40px;
	padding-right: 45px;
	// white-space: nowrap;

	strong {
		display: block;
		font-weight: 400;
	}

	small {
		display: block;
		font-size: 60%;
		margin-top: 0.25em;
	}
}

.navbar-brand {
	font-weight: 400;
	height: auto;
}

.banner {
	background-image: url(../images/banner-bg.jpg);
	min-height: 400px;
	padding-bottom: 100px;
}

.banner-info {

	p {
		color: #fff;
		font-weight: 400;
		text-transform: none;
	}
}

h3.m_1 {
	color: #fff;
}

.feature_grid {
	border-right: 1px solid lighten($brand_color, 15);
	border-left: 1px solid lighten($brand_color, 15);
	margin-right: -1px;
	padding: 4em 2em;

	&:first-child {
		border-left: 0;
	}

	&:last-child {
		border-right: 0;
	}

	.fa {
		color: #fff;
	}
}

.gallery {
	background: $light_gray;
	padding-top: 25px;
	padding-bottom: 25px;

	.image_box {
		padding-top: 25px;
		padding-bottom: 25px;

		img {
			max-width: 100%;
		}
	}
}

.highlight-info {
	margin-top: 30px;
	padding-bottom: 4em;

	p {
		margin-bottom: 1em;
	}
}

.contact {
	margin-top: 30px;
}

.contact_top {
	margin-bottom: 0;
}

.contact_details {
	min-height: 130px;
}

@media (max-width: 991px){

	.banner {
		min-height: 320px;
		padding-bottom: 50px;
	}

	.navbar-brand {
		font-size: 30px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	.header {

		.container {
			width: auto;
		}
	}
}

@media screen and (max-width:767px) {

	.header {
		position: relative;
	}

	.menu {

		.toggleMenu {
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -16px;
		}

		.nav {
			border: 0;
			background: #fff;
			top: 100%;
			margin-top: -10px;
			@include box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
			@include border-radius(4px);

			li {

				a {
					border-top-color: $gray;
					background: transparent;

					&:hover {
						background: transparent;
					}
				}
			}
		}
	}
}

@media (max-width: 767px){

	.navbar-brand {
		font-size: 28px;
	}

	.banner {
		min-height: 270px;
	}

	.feature_grid {
		border-right: 0;
		border-left: 0;
		border-top: 1px solid lighten($brand_color, 15);
		margin-right: 0;

		&:first-child {
			border-top: 0;
		}
	}

	.contact_details {

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (max-width:640px) and (min-width:481px) {

	.content_white p {
		font-size: 1.2em;
	}
}

@media (max-width: 480px){

	.banner {
		min-height: 200px;
	}

	.navbar-brand {
		font-size: 24px;
	}
}

@media (max-width:480px) and (min-width:321px) {
}

@media (max-width:400px) {

	.navbar-brand {
		font-size: 20px;
	}
}

@media (max-width:320px) {

}
