<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>
<link href="{{ site.baseurl }}/{{ site.css_dir }}/style.css" rel="stylesheet" />
<script src="{{ site.baseurl }}/{{ site.js_dir }}/jquery.min.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="header">
	<div class="container"> <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-cog"></i> 上海古贺精工有限公司</a>
		<div class="menu"> <a class="toggleMenu" href="#"><img src="{{ site.baseurl }}/{{ site.images_dir }}/nav_icon.png" alt="" /> </a>
			<ul class="nav" id="nav">
				<li class="current"><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/#business">Business</a></li>
				<li><a href="{{ site.baseurl }}/#company">Company</a></li>
				<li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
</div>

{{ content }}

<div class="footer">
	<div class="footer_bottom">
		<div class="copy">
			<p>Copyright &copy; 2015 Shanghai Guhe Precision Work Co. Ltd.</p>
		</div>
	</div>
</div>

<script src="{{ site.baseurl }}/{{ site.js_dir }}/scrollsmoothly.min.js"></script>
<script src="{{ site.baseurl }}/{{ site.js_dir }}/responsive-nav.js"></script>
<script src="{{ site.baseurl }}/{{ site.js_dir }}/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/{{ site.js_dir }}/jquery.flexslider.js"></script>
</body>
</html>
