<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>
<link href="css/style.css" rel="stylesheet" />
<script src="js/jquery.min.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="header">
  <div class="container"> <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-cog"></i> 上海古贺精工有限公司</a>
    <div class="menu"> <a class="toggleMenu" href="#"><img src="images/nav_icon.png" alt="" /> </a>
      <ul class="nav" id="nav">
        <li class="current"><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/#business">Business</a></li>
        <li><a href="{{ site.baseurl }}/#company">Company</a></li>
        <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
        <div class="clear"></div>
      </ul>
      <script type="text/javascript" src="js/responsive-nav.js"></script>
    </div>
  </div>
</div>

{{ content }}

<div class="footer">
  <div class="footer_bottom">
    <div class="copy">
      <p>Copyright &copy; 2015 Shanghai Guhe Precision Work Co. Ltd.</p>
    </div>
  </div>
</div>

<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flexslider.js"></script>
</body>
</html>
